---
// import Layout from '../layouts/Layout.astro';
// import Card from '../components/Card.astro';
// import LayoutTree from "../layouts/LayoutBaseTree.astro";

import TreeFooter from "@/components/TreeFooter.astro";
import TreeHeader from "@/components/TreeHeader.astro";
import TreeLinksContainer from "@/components/TreeLinksContainer.astro";
import LayoutTreeContainer from "@/layouts/tree/LayoutTreeContainer.astro";
---

<LayoutTreeContainer title="Yazoc Proyectos">
	<div class="content-center items-center flex flex-none flex-col xl:gap-16 h-min justify-start max-w-[640px] relative  gap-12 px-6 xl:px-9 w-full md:gap-14">
		<TreeHeader title="Yazoc proyectos" />
		<TreeLinksContainer />
		<TreeFooter />
	</div>
</LayoutTreeContainer>
